{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-12 col-md-10 container-style">
      <a class="add_prj" href="{% url 'blog-create' %}">
      <div class="blog-sec">
        <div class="row">
          <div class="col-md-2 col-12"></div>
          <div class="col-md-9 col-12">
            <h1>
              All the Blogs <i class="fas fa-plus"></i>
            </h1>
          </div>
        </div>
      </div>
    </a>
        {% for blog in blogs%}
        <div class="blog-sec">
            <!-- blog post user area -->
            <div class="row">
              <div class="col-1">
                <img class="rounded-circle article-img" src="{{ blog.user.profile.image.url}}">
              </div>
              <div class="col-9 username">
                <h5>{{ blog.user }}</h5>
              </div>
              <div class="col-2">
                {% if blog.user == user %}
                <div class="dropdown">
                    <button class="btn " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-ellipsis-v"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <a class="dropdown-item" href="{% url 'blog-update' blog.id %}">Edit</a>
                        <a class="dropdown-item" href="{% url 'blog-delete' blog.id %}">Delete</a>
                    </ul>
                  </div>
                <!-- <div class="dropdown edit">
                    <button class="btn btn-secondary " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-h"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="">Edit</a>
                        <a class="dropdown-item" href="">Delete</a>
                    </div>
                </div> -->
                {% endif %}
              </div>
            </div>
            <hr>
            <!-- blog-post -->
            {% if blog.video %}
            <div class="row">
             <video class="blog-video" controls><source src="{{ blog.video.url }}"></video>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-12 about-project">
                {% if blog.image %}
                  <img class="blog-pic" src="{{ blog.image.url }}">
                    {% endif %}
                    <p>
                        {{ blog.description }}
                    </p>
                </div>
            </div>
            <!-- like comment -->
            <div class="row">
              <ul class="like-com">
                <li>
                    
                    <form action="{% url 'like_main_post' blog.id %}" method="POST">
                        {% csrf_token %}
                            {% if user not in blog.like.all %}
                                <button type="submit"  name="post_id" value="{{ blog.id }}">
                                    <i class="fas fa-heart"></i> Like
                                </button>   
                                <span>{{ blog.like.all.count }} </span>
                            {% else %}
                                <button type="submit" style="color: #e44d3a;"  name="post_id" value="{{ blog.id }}"><i class="fas fa-heart "></i> Like</button><span>{{ blog.like.all.count }}  </span>
                            {% endif %}
                    </form>
                  <!-- <button><i class="fas fa-heart"></i> Like</button> -->
                </li>
                <li>
                  <button class="com" id="{{ forloop.counter }}" onclick="showComment(this.id)" ><i class="fas fa-comment-alt"></i> Comment</button>
                </li>
              </ul>
            </div>
            <div class="row">
                <small class="text-muted">{{ blog.date_posted|date:"F d, Y" }}</small>
            </div>
          </div>

          <!-- comment section -->
          <div class="comment-sec" id="comment{{forloop.counter}}" style="display: none;" >
            <div class="row">
              <!-- comments -->
              <div class="comment-list">
                <div class="row">
                  {% for comment in blog.comment_blog.all %}
                  <!-- comment -->
                  <div class="comment row">
                    <div class="col-1">
                      <img src="{{ comment.user.profile.image.url}}" class="rounded-circle comment-img">
                    </div>
                    <div class="col-11">
                      <div class="row">
                        <small class="text-muted">{{ comment.date_posted|date:"F d, Y" }}</small>
                      </div>
                      <div class="row">
                        <h5>{{ comment.user }}</h5>
                      </div>
                      <div class="row">
                        <p>
                          {{comment.body}}
                        </p>
                      </div>
                    </div>
                  
                  </div>
                  <hr>
                  {% endfor %}
                </div>
              </div>
            </div>
            <!-- comment box -->
            <form id="comment_sec" action="{% url 'comments' %}" method="POST">
                <div class="row">
                <div class="col-10">
                  {% csrf_token %}
                  {{ comment_form.body }}
                </div>
                <div class="col-2">
                  <button class="comment-button" type="submit" name="comment_id" value="{{ blog.id }}">Add</button>
                  
                </div>
              </div>
              </form>
          </div>
        {% endfor %}




    </div>
</div>

{% endblock content %}