{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="js/index.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/rec.css' %}">
    <title>CoderHi</title>
</head>
<body>
    <section>
        
        <div class="logo">
            <a href="{% url 'mainpage' %}">
                <img class="logo-img" src="{% static 'pic/coderHi logo 5.png' %}">
            </a>
            <!-- <button onclick="toggleTheme()">Switch</button>  -->
        </div>
        <div class="container">

            <div class="row">
                <h2 class="text-center heade"><u>Recruiters Page</u></h2>
                <div class="col-md-4"></div>
                <div class="col-md-6 col-12">
                    <img class="dev" src="{% static 'pic/recturer2.jpg' %}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-5">
                    <a href="{% url 'login' %}" class="btn text-light btns">Login</a>
                </div>
                <div class="col-md-5">
                    <a href="{% url 'company-register' %}" class="btn text-light btns">Register</a>
                </div> 
            </div>
            <hr>
            <div class="quotes">
                <figure class="text-center text-light">
                    <blockquote class="blockquote">
                      <p style="font-size: 0.8em;">Every good conversation starts with listening.</p>
                    </blockquote>
                    <figcaption class="blockquote-footer text-light">
                        Tom Haak</cite>
                    </figcaption>
                  </figure>
            </div>
        </div>
    </section>
</body>
</html>