body{
    background-color: #E0E5EC !important;
    color: #000;
}

.navbar{
    border-radius: 25px !important;
    /* background-color: #000a12 !important; */

    margin: 20px;
}
.brand-link{
    color: #000 !important;
    border-radius: 10px !important;
    padding: 10px !important;
    background-color: #e7ecf1 !important;
    max-height: 50px;
    border: 0.5px #fff !important;
}

.main-header{
    border-radius: 25px !important;
    padding-left: 10px !important;
}

.nav-link{
    color: #000 !important;
}
.main-header,
.main-sidebar,
aside{
    background-color: #E0E5EC !important;
    box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px    rgba(255,255,255, 0.5);
}