@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

body{
    height: 100%;
    /* width: 100%; */
    font-family: 'Poppins', sans-serif !important;
    background-color: #4f5b62;
}
.navbar{
    border-radius: 50px !important;
    background-color: #000a12 !important;

    margin: 20px;
}
.nav-link,
.navbar-brand{
    color: #fff !important;
    text-decoration: none;
}
.navbar-toggler{
    border: none;
    color: #000;
    background-color: #fff;
}
.nav-link:hover{
    border-bottom: solid 1px #fff;
}
.dropdown-item{
    color: #000a12 !important;
}
.profile-img {
    height: 28px;
    width: 28px;
}
.main{
    width: 100%  !important;
}
.container-style{
    border-radius: 25px !important;
    background-color: #000 !important;
    padding: 0 10px;
    padding-bottom: 10px;
    
}
.blog-sec{
    margin-top: 10px;
    border-radius: 25px !important;
    background-color: #fff !important;
    padding: 20px 40px;
}
.comment-sec{
    margin-top: 10px;
    border-radius: 25px !important;
    background-color: #fff !important;
    padding: 20px 40px;
}

.comment-list{
    display: table;
    padding: 0;
}
.sidebar{
    /* width: 100%; */
    /* position: fixed; */
    border-radius: 25px !important;
    padding: 20px 40px;
    background-color: #000a12;
    color: #fff;
    width: 250px;
}

.sidebar .sidebar-text{
    max-width: 230px;
}

.event-button{
    border-radius: 50px;
    border: none;
    padding: 10px;
    width: 100%;
}

.event-button-sec{
    display: block;
    margin-left: auto;
    margin-right: auto;
 
}

.event-button:hover{
    color: #fff;
    background-color: #000;
    border:solid 1px #fff;
}
div.ex1 {
    max-width: 230px;
  }

.ex1 p {
    margin-bottom: 0;
}

.username{
    margin-top: auto;
    margin-bottom: auto;
    display: block;
}
.username h5{
    padding-left: 10px;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 26px;
}
.teacher-img {
    height: 30px;
    width: 30px;
    margin-right: 26px;
}
.teacher_name{
    padding-left: 25px;
    font-size: 1em;
}
.comment-img {
    height: 42px;
    width: 42px;
}
.comment{
    margin-top: 10px;
}

.blog-text{
    padding: 0 10px;
    margin-left: 20px;
    margin-right: 20px;

}
.blog-pic{
    width: 50%;
    margin: 10px auto;
    display: block;
}
.blog-pict{
    width: 70%;
    /* margin: 10px auto; */
    display: block;
    border-radius: 250px;
}
.event-pic{
    width: 70%;
    margin: 10px auto;
    display: block;
}
.blog-picture{
    width: 20%;
    margin: 10px auto;
    display: block;
}
.blog-video{
    width: 50%;
    margin: 10px auto;
    display: block;
    border: none;
}
.like-com {
    float: left;
    margin-top: 20px;
    list-style-type:none;
}

.like-com li {
    display: inline-block;
    margin-right: 15px;
}

.like-com li  button{
    color: #b2b2b2;
    background-color: #fff;
    font-size: 14px;
    font-weight: 500;
    float: left;
    margin-top: 6px;
    margin-right: 5px;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.like-com li  button:hover {
    color: #e44d3a;
}

.like-com li  button.active {
    color: #e44d3a;
}
.like-com li .com {
    position: relative;
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    border: none ;
    margin-left: 10px;
}

.like-com li .com:hover {
    color: #006de2;
}

.comment-box{
    margin-top: 20px;
    border-radius: 50px;
    width: 100%;
    border: solid 0.3px #000;
    padding: 10px;
}

.comment-button{
    background-color: #000;
    color: #fff;
    margin-top: 20px;
    border-radius: 50px;
    width: 100%;
    border: solid 0.3px #000;
    padding: 10px;
}

.comment-button:hover{
    background-color: #fff;
    color: #000;
    margin-top: 20px;
    border-radius: 50px;
    width: 100%;
    border: solid 0.5px #000;
    padding: 10px;
}

.fa {
    font-size: 25px;
  }
  
.checked {
color: orange;
}

.course-link:hover,
.course-link{
    text-decoration: none;
    text-transform: none;
    color: #000;
}



.course-img{
    width: 80%;
    /* height: 80%; */
    margin: auto;
    border-radius: 10px;
 
    display: block;
}

.couse-desp{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

.header-box{
    background-color: #fff;
    border-radius: 25px !important;
    background-color: #fff !important;
    padding: 20px 40px;
    min-height: 200px;
    margin-bottom: 10px;
    width: 100%;
    /* text-align: ; */
    background-image: url("../pic/header-bg2.jpg");
    background-size: cover;
}



.header-box h3{
    /* position: relative;
    bottom: 0;
    left: 0; */
    /* color: #fff; */
    margin-bottom: 0;
    margin-top: 200px;
    display: block;
}


/* POST SLIDER */

.post-slider {
  position: relative;
}

.post-slider .slider-title {
  text-align: center;
  margin: 30px auto;
}

.post-slider .next {
  position: absolute;
  top: 50%;
  right: 30px;
  font-size: 2em;
  color: #000;
  cursor: pointer;
}

.post-slider .prev {
  position: absolute;
  top: 50%;
  left: 30px;
  font-size: 2em;
  color: #000;
  cursor: pointer;
}

.post-slider .post-wrapper {
  width: 84%;
  height: 350px;
  margin: 0px auto;
  overflow: hidden;
  padding: 10px 0px 10px 0px;
}

.post-slider .post-wrapper .post {
  width: 300px;
  height: 330px;
  margin: 0px 10px;
  display: inline-block;
  background: white;
  border-radius: 5px;
  box-shadow: 1rem 1rem 1rem -1rem #a0a0a033;
}

.post-slider .post-wrapper .post .post-info {
  height: 130px;
  padding: 0px 5px;
}

.post-slider .post-wrapper .post .slider-image {
  width: 100%;
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

@media(max-width:500px){
    .post-slider .next,
    .post-slider .prev{
        display: none;
    }
}

@media(max-width:400px){
    .sidebar{
        display: none;
    }
    .container-style{
        padding: 0;
    }
    
}