@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

body{
    height: 100%;
    /* width: 100%; */
    font-family: 'Poppins', sans-serif !important;
    /* background-color: #4f5b62; */
}

.navbar{
    border-radius: 50px !important;
    /* background-color: #000a12 !important; */

    margin: 20px;
}
.nav-link,
.navbar-brand{
    color: #fff !important;
    text-decoration: none;
}
.navbar-toggler{
    border: none;
    color: #000;
    background-color: #fff;
}
.nav-link:hover{
    border-bottom: solid 1px #fff;
}
.theme-toggler{
    /* position: absolute; */
    top: 30px;
    /* right: 30px; */
    color: #fff;
    font-weight: 700;
    font-size: 1em;
    z-index: 100;
    cursor: pointer;
}

.theme-change{
    position: relative;
    top: 5px;
    width: 60px;
    height: 25px;
    -webkit-appearance: none;
    background-color: #f403d4;
    outline: none;
    border-radius: 50px;
    transition: 0.5s;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
}
.theme-change:checked{
    background-color: #03a9f4;
}

.theme-change:before{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    top: 0;
    left: 0;
    background-color: #fff;
    transition: .5s;
    box-shadow:  0 2px 5px rgba(0, 0, 0, .2);
}
.theme-change:checked::before{
    left: 40px;
}
.dropdown-item{
    color: #000a12 !important;
}
.profile-img {
    height: 28px;
    width: 28px;
}
.main{
    width: 100%  !important;
}
.container-style{
    border-radius: 25px !important;
    /* background-color: #000 !important; */
    padding: 0 10px;
    padding-bottom: 10px;
    
}
.down-style{
    border-radius: 25px !important;
    background-color: #fff !important;
    padding: 0 10px;
    padding-bottom: 10px;
    
}
.blog-sec{
    margin-top: 10px;
    border-radius: 25px !important;
    background-color: #fff !important;
    padding: 20px 40px;
}
.comment-sec{
    margin-top: 10px;
    border-radius: 25px !important;
    background-color: #fff !important;
    padding: 20px 40px;
}

.comment-list{
    display: table;
    padding: 0;
}
.sidebar{
    /* width: 100%; */
    /* position: fixed; */
    border-radius: 25px !important;
    padding: 20px 40px;
    /* background-color: #000a12; */
    color: #fff;
    width: 250px;
}

.sidebar .sidebar-text{
    max-width: 230px;
}

.event-button{
    border-radius: 50px;
    border: none;
    padding: 10px;
    width: 100%;
}

.event-button-sec{
    display: block;
    margin-left: auto;
    margin-right: auto;
 
}

.event-button:hover{
    color: #fff;
    background-color: #000;
    border:solid 1px #fff;
}
div.ex1 {
    max-width: 230px;
  }

.ex1 p {
    margin-bottom: 0;
}

.username{
    margin-top: auto;
    margin-bottom: auto;
    display: block;
}
.username h5{
    padding-left: 10px;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 26px;
}
.teacher-img {
    height: 30px;
    width: 30px;
    margin-right: 26px;
}
.teacher_name{
    padding-left: 25px;
    font-size: 1em;
}
.comment-img {
    height: 42px;
    width: 42px;
}
.comment{
    margin-top: 10px;
}

.blog-text{
    padding: 0 10px;
    margin-right: 20px;

}
.blog-pic{
    width: 50%;
    margin: 10px auto;
    display: block;
}
.blog-pict{
    margin-top: 20px;
    max-width: 200px;
    margin-right: 50px;
    /* width: 70%; */
    /* margin: 10px auto; */
    /* display: block; */
    /* border-radius: 250px; */
}
.event-pic{
    width: 70%;
    margin: 10px auto;
    display: block;
}
.blog-picture{
    width: 20%;
    margin: 10px auto;
    display: block;
}
.blog-video{
    width: 70%;
    margin: 10px auto;
    display: block;
    border: none;
}
.like-com {
    float: left;
    margin-top: 20px;
    list-style-type:none;
}

.like-com li {
    display: inline-block;
    margin-right: 15px;
}

.like-com li  button{
    color: #b2b2b2;
    background-color: #fff;
    font-size: 14px;
    font-weight: 500;
    float: left;
    margin-top: 6px;
    margin-right: 5px;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.like-com li  button:hover {
    color: #e44d3a;
}

.like-com li  button.active {
    color: #e44d3a;
}
.like-com li .com {
    position: relative;
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    border: none ;
    margin-left: 10px;
}

.like-com li .com:hover {
    color: #006de2;
}

.comment-box{
    margin-top: 20px;
    border-radius: 50px;
    width: 100%;
    border: solid 0.3px #000;
    padding: 10px;
}

.comment-button{
    background-color: #000;
    color: #fff;
    margin-top: 20px;
    border-radius: 50px;
    width: 100%;
    border: solid 0.3px #000;
    padding: 10px;
}

.comment-button:hover{
    background-color: #fff;
    color: #000;
    margin-top: 20px;
    border-radius: 50px;
    width: 100%;
    border: solid 0.5px #000;
    padding: 10px;
}

.fa {
    font-size: 25px;
  }
.fa-star{
    font-size: 15px;
}
.checked {
color: orange;
}

.course-link:hover,
.course-link{
    text-decoration: none;
    text-transform: none;
    color: #000;
}



.course-img{
    width: 80%;
    /* height: 80%; */
    margin: auto;
    border-radius: 10px;
 
    display: block;
}

.couse-desp{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

.header-box{
    background-color: #fff;
    border-radius: 25px !important;
    background-color: #fff !important;
    padding: 20px 40px;
    min-height: 200px;
    margin-bottom: 10px;
    width: 100%;
    /* text-align: ; */
    background-image: url("../pic/header-bg2.jpg");
    background-size: cover;
}



.header-box h3{
    /* position: relative;
    bottom: 0;
    left: 0; */
    /* color: #fff; */
    margin-bottom: 0;
    margin-top: 200px;
    display: block;
}


/* POST SLIDER */

.post-slider {
  position: relative;
}

.enroll-title{
    margin: 30px 70px;

}
.post-slider .slider-title {
  text-align: center;
  margin: 30px auto;
}

.post-slider .next {
  position: absolute;
  top: 50%;
  right: 30px;
  font-size: 2em;
  color: #000;
  cursor: pointer;
}

.post-slider .prev {
    position: absolute;
    top: 50%;
    left: 30px;
    font-size: 2em;
    color: #000;
    cursor: pointer;
}

.post-slider .enroll-wrapper,
.post-slider .completed-wrapper,
.post-slider .post-wrapper {
  width: 84%;
  /* height: 350px; */
  margin: 0px auto;
  overflow: hidden;
  padding: 10px 0px 10px 0px;
}

.post-slider .completed-wrapper .post,
.post-slider .enroll-wrapper .post,
.post-slider .post-wrapper .post {
  width: 300px;
  /* height: 330px; */
  margin: 0px 10px;
  display: inline-block;
  background: white;
  border-radius: 5px;
  box-shadow: 1rem 1rem 1rem -1rem #a0a0a033;
}

.post-slider .enroll-wrapper .post .post-info,
.post-slider .completed-wrapper .post .post-info,
.post-slider .post-wrapper .post .post-info {
    /* height: 130px; */
    padding: 0 5px;
    padding-top: 5px;
}

.post-info h4{
    font-size: 1.5em;
    padding-top: 10px;
}

.post-info h4 a{
    color: #000;
    text-decoration: none;
}

.post-slider .completed-wrapper .post .slider-image,
.post-slider .enroll-wrapper .post .slider-image,
.post-slider .post-wrapper .post .slider-image {
  width: 100%;
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.main-course-page-teacher-name{
    color: #4f5b62;
    font-size: 0.9em;
}

.explore-more-course-sec{
    padding: 50px;
}

.explore-more-course{
    text-decoration: none;
    background-color: #000;
    color: #fff;
    padding: 10px;
    width: 100%;
}
.enroll-button:hover,
.explore-more-course:hover{
    background-color: #fff;
    color: #000;
    border: solid 1px #000a12;
}

.teacher-logo{
    background-color: #000;
    border: solid 1px #000a12;
    max-width: 300px;
    height: 70px;
}

.enroll-button{
    background-color: #000;
    color: #fff;
    padding: 10px;
    width: 100%;
}
.certificate{
    width: 30px;    
}
.fa-globe{
    font-size: 27px;
}
.coursename h4{
    font-size: 2em;
}

.course-section-desp{
    /* margin-left: 2px; */
    padding:  0 25px;
}
.course-section-desp h2{
    font-size: 20px;
    padding: 0;
}
.course-section-desp h5{
    font-size: 14.4px;
    padding: 0;
    color: #4f5b62;
}

.course-short-desc{
    list-style-type:none;
    margin:30px 0;

    padding: 0;
}
.course-short-desc li{
    margin-bottom: 10px;
}

.about-course{
    margin-top: 50px;
}

.review{
    margin-bottom: 30px;
}
.top-review,
.review-upper-area{
    padding: 20px 50px;
}

.top-review{
    background-color: #f8fafc;
}

.review-star{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 10px;
}

.teacher-img-detail-page{
    margin-top: 20px;
    max-width: 200px;
}

.teacher-desc-detail-page{
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    
}

.about-project{
    margin-top: 20px;
    font-size: 0.9em;
}

.activites-list ul{
    margin: 0;
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
}

.activites-list li{
    font-size: 0.9em;
    color: #4f5b62;
}

.profile-username-section{
    margin-top: 10px;
    text-align: center;
    padding-right: 20px;
}

.profile-username-section h2{
    font-size: 2em;
    margin: 0;
}
.completed-course-section{
    text-align: center;
    margin: 10px 0;
    
    /* border: solid 1px #000; */
    /* padding: 10px; */
}

.completed-course-section img{
    width: 200px;
}

.completed-course-section h4{
    font-size: 1.5em;
    margin-top: 5px;
}

.completed-course,
.enrolled-course{
    margin-top: 10px;
    border: solid 1px #4f5b62;
    border-radius: 25px;
    padding: 10px;
}

.username-sec{
    margin-top: 10px;
    padding-right: 40px;
}

.number_of_event{
    background-color: #007bff;
    padding: 10px;
    color: #f8fafc;
    border-radius: 20px;
    min-height: 150px;
    text-align: center;
    height: 100;
    margin: 5px;
}
.dashboard-event-sec{
    background: #FEBE10; 
    padding: 10px;
    color: #f8fafc;
    border-radius: 20px;
    min-height: 150px;
    height: 100;
    margin: 5px;
}
.dashboard-event-sec h1{
    margin-top: 10px;
    font-size: 1.5em;
}
.number_of_event h1{
    margin-top: 10px;
    margin-bottom: 28px;
    /* margin: auto; */
    font-size: 1.5em;
}

@media(max-width:800px){
    .blog-pict{
        width: 150px;
        height: 150px;
        margin-right: 100px;
        /* border-radius: 250px; */
    }
    .completed-course-section img{
        width: 100px;
    }
    .article-img{
        width: 40px;
        height: 40px;
    }
    .teacher-logo{
        max-width: 200px;
        height: 50px;
    }
}
@media(max-width:500px){
    .enroll-title{
        margin: 0;
    }
    .post-slider .next,
    .post-slider .prev{
        display: none;
        color: #fff;
    }
}

@media(max-width:450px){
    .blog-video{
        width: 100%;
    }
    .sidebar{
        display: none;
    }
    .container-style{
        padding: 0;
    }
    
}