{% extends 'base.html' %} {% load static %} {% block content %}

<!-- <h1 id="quiz" style="color: bisque;">Quiz</h1>
		<br>
		{%for i in question %}
		
		<div class="question" style="color: bisque;">
			<h5>{{forloop.counter}} &nbsp - &nbsp&nbsp&nbsp {{ i.questions }}:</h5>
			<ul class="row"> 
			{% for j in i.answer_set.all %}
				<div class='col-lg-5' style="color: bisque;">
					<input type="radio" name="question-1-answers" id="question-1-answers-A" value="A" />
					<label for="question-1-answers-A">{{forloop.counter}}) &nbsp{{ j.ans}}</label>
				</div> 
			{% endfor %} 
			</ul>
		</div>
		<br>
			{% endfor %} 
		

		<button id="clear" type="button" class="btn btn-danger">Clear All</button>
	
		<button id="submit"  type="button" class="btn btn-success"> Submit </button>
		
	</div> -->

<center>
  <h1 style="color: white">Total Number of Question is {{count}}</h1>
</center>
<div class="col-lg-8 border border-success p-4 m-4 mx-auto" id="quiz-ele">
  {% for i in obj%}
  <h1 style="color: white">{{i.questions}}</h1>
  <form id="quiz-form">
    <div class="radio" style="color: white">
      <label
        ><input
          type="radio"
          name="name"
          id="option1"
          value="{{i.option1}}"
        />{{i.option1}}
      </label>
    </div>
    <br />
    <div class="radio" style="color: white">
      <label>
        <input
          type="radio"
          name="name"
          id="option2"
          value="{{i.option2}}"
        />{{i.option2}}</label
      >
    </div>
    <br />
    <div class="radio" style="color: white">
      <label
        ><input
          type="radio"
          name="name"
          id="option3"
          value="{{i.option3}}"
        />{{i.option3}}</label
      >
    </div>
    <br />
    <div class="radio" style="color: white">
      <label
        ><input
          type="radio"
          name="name"
          id="option4"
          value="{{i.option4}}"
        />{{i.option4}}
      </label>
    </div>
    <br />
  </form>
  {%endfor%}
  <div class="form-group">
    <button class="btn btn-success" id="save_ans">Submit Answer</button>
  </div>
  <br />
  <div class="paginetor">
    <div class="form-group">
      <a href="result"
        ><button class="btn form-control btn-success" id="submitAnswer">
          Submit Quiz
        </button></a
      >
    </div>
  </div>
</div>

{% endblock content %} {% block javascript%}
<script
  src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
  integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
  crossorigin="anonymous"
></script>

{% comment %}
<script src="{% static 'script.js' %}"></script>
{% endcomment %}
<script>
  function getanswer() {
    var useranswer = [];
    var ele = document.getElementsByTagName("input");

    for (i = 0; i < ele.length; i++) {
      if ((ele[i].type = "radio")) {
        if (ele[i].checked) {
          useranswer.push(ele[i].value);
        }
      }
    }
    return useranswer;
  }
  console.log("data in");

  $("#save_ans").click(function () {
    var tasks = getanswer();
    console.log("yo");
    console.log(tasks);

    $.ajax({
      headers: { "X-CSRFToken": $.cookie("csrftoken") },
      type: "POST",
      url: "/quiz/zaki",
      data: { "ans[]": tasks },
      success: function (data) {
        if (data.status == "fail") {
          alert(data.msg);
        } else if (data.status == "success") {
          console.log("madarcod");
          // window.location.href='/sale';//refresh current page.
        }
      },
    });
  });
</script>
{% endblock javascript%}
