{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    a{
        color: #000;
        text-decoration: none;
    }
    a:hover{
        color: #0592d4;
    }
</style>

<div class="row">
    <div class="col-12 col-md-12 container-style">
      <div class="blog-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-10"></div>
                <div class="col-md-2">
                    <a href="{% url 'company-update' %}" style="margin-top: 10px; width: 100%;" class="btn btn-dark" target="_blank">Update Profile</a>
                </div>
            </div>
          <div class="row align-items-start">

            <div class="col-12 ">
              <div class="profile-username-section row">
                
                <div class="col-12 col-md-12">
                  <img class="rounded-circle blog-pict" src="{{ object.logo.url }}">
                </div>
                <!-- <div class="col-3"></div> -->
                <div class="col-12">
                  <div class="username-sec">
                    <h2>{{object.company_name}}</h2>
                    <h5>{{object.city}},{{object.country}}</h5>
                  </div>
                </div>
              </div>
            </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <h4><u>Contact Info</u></h4>
                    <address>
                        {{object.address}}
                    </address>
                    <h6>Contact no : {{object.mobile_number}}</h6>
                </div>
                <div class="col-md-6">
                    <h4><u>Overview</u></h4>
                    <p>
                        {{object.description}}
                    </p>
                </div>
            </div>
            <br>
            <hr>
            <div class="row">
                <h2><u>Recent job</u></h2>
                {% if jobs %}
                <div class="row">
                    <div class="col-sm-9">
                        <h2 class="h2" style="color: #fff;"><b>Job Portal</b></h2>
                        {% for job in jobs %}
                        <a href="{% url 'job-detail' job.id %}">
                            <div class="row">
                                <div class="card" style="border-radius: 10px; padding: 10px; margin: 10px 0;">
                                    <div class="card-body">
                                        <h4 class="card-title">Job Title : {{job.job_title}} </h4>
                                        <div class="card-subtitle mb-2 text-muted">
                                        {{job.company.recruiter_profile.company_name}}<br>
                                        {{job.company.recruiter_profile.city}},{{job.company.recruiter_profile.country}}
                                    </div>
                                    <p class="card-text">
                                        {{job.job_description}}
                                    </p>
                                    <div class="row">
                                        <div class="col-4">
                                            Number of Applies : {{job.applied_people.count}}
                                        </div>
                                    </div>
                                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                                </div>
                            </div>
                            </div>
                        </a>
                        {% endfor%}
                        <!-- <div class="panel panel-default">
                            <div class="panel-body">Job Title: <a href="#" class="aa"></pre>Python Developer</pre></a></div>
                            <h5></h5>
                            <button type="button" class="btn btn-dark">Apply</button>
                        </div> -->
                        
                    </div>
                    <div class="col-sm-3">
                        <div class="h2" style="color:#fff;display: block;margin-right: auto; margin-left:auto;"><b>Other Jobs</b></div>
                        <!-- Event Sidebar -->
                        <div class="col-md-2">
                            {% for job in tops %}
                            <div class="sidebar">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="">
                                            <h3>{{job.job_title}}</h3>
                                            <p>
                                                Number of Applies : {{job.applied_people.count}}
                                            </p>
                                            <br>
                                            <div class="event-button-sec">
                                                <a class="event-button" href="{% url 'job-detail' job.id %}">View</a>
                                            </div>
                                        </div>
                                    </div>
                            
                                    </div>
                                </div>
                            <br />
                            {% endfor %}
                            
                        </div>
                    </div>
                </div>
                {% else %}
                <h6 class="text-center">
                    No Jobs Vacancy now
                </h6>
                {% endif %}
            </div>
        </div>
    </div>
    </div>
</div>

{% endblock content %}