{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row">
  <div class="col-12 col-md-12 container-style">
    <div class="blog-sec">
      <div class="container">
        <div class="row align-items-start">

          <div class="col-12 col-md-4">
           
              <div class="col-12 col-md-4">
                <div class="profile-username-section row">
                  
                  <div class="col-12 col-md-12">
                    <img class="rounded-circle blog-pict" src="{{ user.profile.image.url }}">
                  </div>
                  <!-- <div class="col-3"></div> -->
                  <div class="col-12">
                    
                    <div class="username-sec">
                      <h2>{{ user.username }}</h2>
                      <h6>{{ user.email }}</h6>
                      <h6>point {{user.profile.rating}}</h6>
                    </div>
                  </div>
                </div>
              </div>
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4"> Profile Info </legend>
                    {{ u_form|crispy }}
                    {{ p_form|crispy }}
                    <small class="text-muted ml-2">
                      <a href="{% url 'password_reset' %}">Change Password</a>
                  </small>
                </fieldset>
                
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Update</button>
                </div>
              </form>
            
          </div>

          <div class="col-12 col-sm-12 col-md-8">
            {% if request.user.is_staff %}
              <div class="row">
                <a href="{%url 'teacher-profile' user.username %}" class="btn btn-info text-light">View Your Teacher profile</a>
              </div>
              <br>
            {% endif %}
            <div class="row">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Share the profile
              </button>
            </div>
            {% if completed %}
              <div class="completed-course row">
                <h3>Completed Course</h3>
                <hr>
                {% for i in completed %}
              <div class="col-12 col-md-4">
                <div class="completed-course-section">
                  <img src="{{ i.thumbnail_image.url }}">
                  <h4>{{i.course_name}}</h4>
                </div>
              </div>  
              {% endfor %}
              </div>
            {% endif %}

            {% if enrolled %}
              <div class="enrolled-course row">
                <h3>Enrolled Course</h3>
                <hr>
                {% for i in enrolled %}
                <div class="col-12 col-md-4">
                  <div class="completed-course-section">
                    <img src="{{ i.thumbnail_image.url }}">
                    <h4>{{i.course_name}}</h4>
                  </div>
                </div>
              {% endfor %}
            </div>
          {% endif %}
          {% if quizs %}
            <div class="enrolled-course row">
              <h3>Quizes Completed</h3>
              <hr>
              {% for i in quizs %}
              <div class="col-12 col-md-4">
                <div class="badges">
                  <h4>{{i.title}}</h4>
                </div>
              </div>
              {% endfor %}
            </div>
          {% endif %}
            

          </div>
        </div>
      </div>
        {% if not request.user.groups.all %}
          {% if not user.is_staff %}
            <div class="row" style="margin-top: 10px; color:#fff !important;">
              <a href="{% url 'teacher-register' %}" class="btn btn-warning">Upgrade to Teacher Profile</a>
            </div>
        {% endif %}
        {% endif %}
    </div>
  </div>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-9">
            <input class="form-control" type="text" value="http://127.0.0.1:8000/profile/{{user.id}}" id="myInput">
          </div>
          <div class="col-3">
            <button class="btn btn-secondary" onclick="myFunction()"><i class="bi bi-clipboard"></i></button>
          </div>
        </div>

        <!-- The button used to copy the text -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>









{% endblock content %}
{% block javascript%}
<script>
  function myFunction() {
  /* Get the text field */
  var copyText = document.getElementById("myInput");

  /* Select the text field */
  copyText.select();
  copyText.setSelectionRange(0, 99999); /* For mobile devices */

  /* Copy the text inside the text field */
  document.execCommand("copy");

  /* Alert the copied text */
  alert("Copied the text: " + copyText.value);
}
</script>


{% endblock javascript%}