{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row">
    <div class="col-12 col-md-12 container-style">
        <!-- main-section -->
        <div class="blog-sec">
            <!-- uper area area -->
            <div class="row">
            <div class="col-12 col-md-8 coursename">
                <h4>{{object.course_name}}</h4>
                <div class="row">
                    <div class="col-12 col-md-3">
                        {% if rating == 0%}
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star "></span>
                        {% endif %}
                        {% if rating >= 1%}
                        <span class="fa fa-star checked"></span>
                        {% endif %}
                        {% if rating >= 2%}
                        <span class="fa fa-star checked"></span>
                        {% endif %}
                        {% if rating >= 3%}
                        <span class="fa fa-star checked"></span> 
                        {% endif %}
                        {% if rating >= 4%}
                        <span class="fa fa-star checked"></span>
                        {% endif %}
                        {% if rating >= 5%}
                        <span class="fa fa-star checked"></span> &nbsp;&nbsp;
                        {% endif %} 
                        {{rating}}
                    </div>
                    <div class="col-12 col-md-3"> {{review.count}} ratings</div>
                </div>
                <br>
                <div class="row">
                    <div class="col-3 ">
                        <a class="btn enroll-button" href="{% url 'enroll' object.id %}">Enroll Now</a>
                    </div>
                    <div class="col-6">
                        <h4>${{object.fees}}</h4>
                    </div>
                </div>
              <div class="about-course">
                <h5>About this course</h5>
                <p class="">
                    {{object.course_description}}
                </p>
            </div>
            <!-- {{object.module.all}} -->
            </div>
            <div class="col-12 col-md-4">
              offered by<br>
            <img class="teacher-logo" src="{{object.teacherId.teacher_profile.university_picture.url}}">
            
            <ul class="course-short-desc">
                <li>
                    <div class="row">
                        <div class="col-1">
                            <img class="certificate" src="pic/course-detail/certificate.png">
                        </div>
                        <div class="col-11 course-section-desp">
                            <h2>Shareable Certificate</h2>
                            <h5>Earn a certificate upon completion</h5>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-1">
                            <i class="fas fa-globe"></i>
                        </div>
                        <div class="col-11 course-section-desp">
                            <h2>100% online</h2>
                            <h5>Start instantly and learn at your own schedule.</h5>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-1">
                            <img class="certificate" src="pic/course-detail/certificate.png">
                        </div>
                        <div class="col-11 course-section-desp">
                            <h2>Intermediate Level</h2>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        </div>
        <hr>
        <!-- syallbus-area -->
        <div class="row">
            <div class="post-slider">
                <h1 class="slider-title">What You Will Learn</h1>
            <i class="fas fa-chevron-left prev"></i>
            <i class="fas fa-chevron-right next"></i>
      
            <div class="post-wrapper">
            {% for modules in object.module.all %}
            
            <div class="post">
                <div class="row">
                    <div class="col-12">
                    <img src="{{ modules.module_image.url}}" alt="" class="slider-image">
                </div>
                <div class="col-12">
                    <div class="post-info">
                        <h4>
                        <a href="single.html">
                            {{modules.module_name}}
                        </a>
                    </h4>
                </div>
            </div>
            <div class="col-12">
                <h6 class="main-course-page-teacher-name">
                    {{modules.Description}}
                </h6>
            </div>
                  
            <div class="col-12">
                    <a href="#">Explore more</a>
                    </div>
                </div>
            </div>
            {% endfor %}  
            
              
            </div>
            
          
            
        </div>
    </div>
    
    <!-- review section -->
    <div class="review-upper-area row">
        
        <div class="col-1">
            <h1>{{rating}}</h1>
        </div>
        <div class="review-star col-12 col-md-3">
            {% if rating == 0%}
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star "></span>
            {% endif %}
            {% if rating >= 1%}
            <span class="fa fa-star checked"></span>
            {% endif %}
            {% if rating >= 2%}
            <span class="fa fa-star checked"></span>
            {% endif %}
            {% if rating >= 3%}
            <span class="fa fa-star checked"></span> 
            {% endif %}
            {% if rating >= 4%}
            <span class="fa fa-star checked"></span>
            {% endif %}
            {% if rating >= 5%}
            <span class="fa fa-star checked"></span> &nbsp;&nbsp;
            {% endif %}
            
            {{review.count}} rating 
        </div>
    </div>
    <div class="top-review row">
        <div class="col-12">
            <h4>Top Reviews</h4>
        </div>
        <div class="col-12 review">
            <div class="row">
                 
            {% for i in review %}
            <div class="col-12 col-md-6">
                <div class="comment row">
                    <div class="col-2">
                    <img src="{{i.user_name.profile.image.url}}" class="rounded-circle comment-img">
                </div>
                  <div class="col-10">
                    <div class="row">
                        <h5>{{i.user_name}}</h5>
                    </div>
                    <div class="row">
                      <p>
                        {{i.comment}}
                      </p>
                    </div>
                </div>
                </div>
            </div>
            {% endfor%}
              

            </div>
          </div>
          
          <hr>
          <div class="col-12">
              <div class="row">
                  <div class="col-12 col-md-4">
                      <img src="{{object.teacherId.profile.image.url}}" class="rounded-circle teacher-img-detail-page">
                    </div>
                    <div class="col-12 col-md-6 teacher-desc-detail-page">
                        <h3>{{object.teacherId}}</h3>
                        <h5>{{object.teacherId.teacher_profile.position}}</h5>
                        <h6>{{object.teacherId.teacher_profile.university_name}}</h6>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    
    
</div>
{% endblock content %}