{% extends 'chat_base.html' %}

{% block content %}
<div class="form-group col-md-12">
  <div class="col-12 col-md-12 ">
  </div>
  <div class="blog-sec">
    <!-- blog post user area -->
    <div class="row">
      <div class="col-1">
        <img class="rounded-circle article-img" src="{{ blog.user.profile.image.url}}">
      </div>
      <div class="col-9 username">
        <h5>{{ blog.user }}</h5>
      </div>
      <div class="col-2">
        {% if blog.user == user %}
        <div class="dropdown">
            <button class="btn " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-ellipsis-v"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <a class="dropdown-item" href="{% url 'blog-update' blog.id %}">Edit</a>
                <a class="dropdown-item" href="{% url 'blog-delete' blog.id %}">Delete</a>
            </ul>
          </div>
          {% endif %}
      </div>
    </div>
    <hr>
    <!-- blog-post -->
    <div class="row">
      <div class="col-12 about-project">
            <h1>{{blog.title}}</h1>
            <p>
              {{ blog.description }}
            </p>
          </div>
        </div>
        <!-- like comment -->
        <div class="row">
          <ul class="like-com">
            <li>
              
              <form action="{% url 'di-like_main_post' blog.id %}" method="POST">
                {% csrf_token %}
                {% if user not in blog.bloglike.all %}
                <button type="submit"  name="post_id" value="{{ blog.id }}">
                  <i class="fas fa-heart"></i> Like
                </button>   
                <span>{{ blog.bloglike.all.count }} </span>
                {% else %}
                <button type="submit" style="color: #e44d3a;"  name="post_id" value="{{ blog.id }}"><i class="fas fa-heart "></i> Like</button><span>{{ blog.bloglike.all.count }}  </span>
                {% endif %}
              </form>
              <!-- <button><i class="fas fa-heart"></i> Like</button> -->
            </li>
          </ul>
        </div>
        <div class="row">
          <small class="text-muted">{{ blog.date_posted|date:"F d, Y" }}</small>
        </div>
      </div>
      
      <!-- comment section -->
      <div class="comment-sec" id="comment{{forloop.counter}}" >
        <div class="row">
          <!-- comments -->
          <div class="comment-list">
            <div class="row">
              {% for comment in blog.comment_discuss.all %}
              <!-- comment -->
              <div class="col-12 ">
                <div class="row">

                  <div class="col-3">
                    <img src="{{ comment.user.profile.image.url}}" class="rounded-circle comment-img">
                  </div>
                  <div class="col-9">
                    <div class="row">
                      <small class="text-muted">{{ comment.date_posted|date:"F d, Y" }}</small>
                    </div>
                    <div class="row">
                      <h5>{{ comment.user }}</h5>
                    </div>
                    <div class="row">
                      <p>
                        {{comment.body}}
                      </p>
                    </div>
                  </div>
                  
                </div>
              </div>
              <hr>
              {% endfor %}
            </div>
          </div>
        </div>
        <!-- comment box -->
        <form id="comment_sec" action="{% url 'di-comments' %}" method="POST">
          <div class="row">
            <div class="col-md-10 col-8">
          {% csrf_token %}
          {{ comment_form.body }}
        </div>
        <div class="col-md-2 col-4">
          <button class="comment-button" type="submit" name="comment_id" value="{{ blog.id }}">Add</button>
          
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock content %}