{% extends 'course-enroll.html' %} 

{% block content %}

<header>
  <div class="row">
    <div class="col-md-2 col-12">
    </div>
    <div class="col-md-8 col-sm-12">

      <div class="row">
        <div class="col-12">
          <h1>
            {{object.course_name}}
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p>
            {{object.course_description|safe|truncatewords:"50"|linebreaks}}
          </p>
        </div>
      </div>
      <div class="row">
        <h6>
          <strong>{{module.count}} Modules</strong></strong>
        </h6>
      </div>
      <div class="row">
        <div class="col-md-9 col-12"></div>
        <div class="col-3">
          <a class="btn btn-light" href="{% url 'discuss' %}" > <i class="bi bi-app-indicator"></i> Disscussion Panel</a>
        </div>
      </div>
    </div>
  </div>
</header>

<br /><br />
<div class="container">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-8">
        {% if not completed %}
        <a href="{% url 'review' %}" class="btn btn-warning">Give the review to complete the course </a>
        {% endif%}
        </div>
      </div>
      <br><br>
    <div class="row">
`   {% for i in module%}
      <div class="col-md-4">
        {% if user in i.studentCompleted.all %}
        <style>
          .completed{
            color:#fff !important;
          }
        </style>
          <div class="card text-white bg-success" style="border-radius: 25px; padding: 10px; ">
        {% else %}
          <div class="card" style="border-radius: 25px; padding: 10px; ">
        {% endif %}
          <img class="card-img-top" style="background-color:#fff !important;" src="{{i.module_image.url}}" alt="Card image cap">
          <div class="card-body">
            <h3 class="card-title">{{i.module_name}}</h3>
              {{i.Description|safe|truncatewords:"50"|linebreaks}}
            <p class="card-text">
            <div class="lower-explore">
              <h3><a class="completed" href="{% url 'enroll-module' i.id%}">Continue</a></h3>
            </div>
            </p>
          </div>
        </div>
      </div>
      <br><br><br><br><br><br>
      {% endfor %}
  </div>
  
  </div>
{% endblock content %}
