{% extends 'course-enroll.html' %} 

{% block content %}
<header>
  <div class="row">
    <div class="col-md-2 col-12">
    </div>
    <div class="col-md-8 col-sm-12">

      <div class="row">
        <div class="col-12">
          <h1>
            {{object.module_name}}
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p>
            {{object.Description|safe|truncatewords:"50"|linebreaks}}
          </p>
        </div>
      </div>
      <div class="row">
        <h6>
          <strong>{{module.count}} Content</strong></strong>
        </h6>
      </div>
      <div class="row">
        <div class="col-md-9 col-12"></div>
        <div class="col-3">
          <a class="btn btn-light" href="{% url 'discuss' %}" > <i class="bi bi-app-indicator"></i> Disscussion Panel</a>
        </div>
      </div>
    </div>
  </div>
</header>

  <div>
    <br />
    <br />
  </div>

  <div class="container">
    <div class="row">
`   {% for i in module%}
    <a href="{% url 'enroll-content' i.id%}">

    <div class="col-md-12">
        <div class="row enroll_content">
            <div class="col-1">
                <h2>{{forloop.counter}}</h2>
            </div>
            <div class="col-10">
                <h2>{{i.content_name}}</h2>
            </div>
            
            <div class="col-1">
                {% if user not in i.studentCompleted.all %} 
                    <button class="btn btn-warning" ><i class="bi bi-x"></i></button>
                {% else %}
                    <!-- <button type="submit" style="color: #e44d3a;"  name="post_id" value="{{ blog.id }}"><i class="fas fa-heart "></i> Like</button><span>{{ blog.bloglike.all.count }}  </span> -->
                    <button class="btn btn-success" ><i class="bi bi-check2"></i></button>
                {% endif %}
            </div>
        </div>
    </div>
    </a>
      {% endfor %}
    </div>
    <br><br>
    <div class="row">
        <div class="col-9">
        </div>
        <div class="col-3" >
            {% if completed == 1 %}
            <a href="{% url 'completed-module' object.id %}" class="btn btn-success">Next Module ></a>
            {% endif%}
        </div>
    </div>
  
  </div>
{% endblock content %}