{% extends 'base.html' %} 

{% block content %} 

<form action="{%url 'search' %}" method="GET">
    <div class="row">
    <div class="col-4">
      <input type="text" name="search_name" class="comment-box" placeholder="Enter Course Name" />
    </div>
    <div class="col-3">
      <select name="type" class="comment-button" >
        {%for type in types%}
        <option value="{{type.name}}">{{type.name}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-3">
      <select name="category" class="comment-button">
        {%for category in categorys %}
        <option value="{{category.name}}">{{category.name}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-2">
      <input type="submit" value="Search"  class="comment-button">
    </div>
  </div>
  </form>
<br /><br />
<div class="row">
  <div class="col-12">
    <div class="header-box">
      <!-- <img src="pic/header-bg.jpg" alt=""> -->
      <h3>Welcome Back  {{user.username}}</h3>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-12 container-style">
    <div class="blog-sec">
    {% if length != 0 %}
      <div class="post-slider">
        <h1 class="enroll-title">Enroll Courses</h1>
        <i class="fas fa-chevron-left prev"></i>
        <i class="fas fa-chevron-right next"></i>
        <div class="enroll-wrapper">
        {% for course in enrolled_course %}
          <div class="post" style="width: 15rem;">
              <!-- <div class="row"> -->
                {% if user not in course.studentCompleted.all %} 
                <div class="card" style="width: 15rem; max-height: 500px;border: 1px solid #fff !important;padding: 10px;border-radius: 25px;">
                {% else %}
                <div class="card text-white bg-success" style="width: 16rem; max-height: 500px;border: 1px solid #fff !important; padding: 10px;border-radius: 25px;">
                {% endif %}
                  <img class="card-img-top" style="background-color:#fff !important;" src="{{course.thumbnail_image.url}}" alt="Card image cap">
                  <div class="card-body">
                    <h3 class="card-title">{{ course.course_name }}</h3>
                    <h6 class="main-course-page-teacher-name">{{course.teacherId}}</h6>
                    <p class="card-text">
                      <div class="col-12 event-button-sec">
                        <a href="{% url 'enroll-course' course.id %}" class="event-button">Go To Course</a>             
                      </div>
                    </p>
                  </div>
                </div>
          </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
      {% if trend %}
      <div class="post-slider">
        <h1 class="slider-title">Trending Course</h1>
        <i class="fas fa-chevron-left prev"></i>
        <i class="fas fa-chevron-right next"></i>

        <div class="post-wrapper">


        {% for course in trend %}

          <div class="post">
            <a href="{% url 'course-detail' course.id %}" class="">
              <div class="row">
                <div class="col-12">
                  <img
                    src="{{course.thumbnail_image.url}}"
                    alt=""
                    class="slider-image"
                  />
                </div>
                <div class="col-12">
                  <div class="post-info">
                    <h4>
                      {{ course.course_name }}
                    </h4>
                  </div>
                </div>
                <div class="col-12">
                  <h6 class="main-course-page-teacher-name">teacher name</h6>
                </div>
                <div class="col-12">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                </div>
                <div class="col-12">
                  <h1>${{ course.fees }}</h1>
                </div>
              </div>
            </a>
          </div>

          

        {% endfor %}
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="row ">
    <div class="col-12"></div>
    <div class="col-12 ms-auto explore-more-course-sec">
      <a class="btn explore-more-course" href="{% url 'course-list' %}">Explore more <i class="fas fa-chevron-down"></i></a>
    </div>
  </div>

  {% endblock content %}

