{% extends 'teacher-dashboard.html' %}
{% load crispy_forms_tags %}
{% block header %}
{% endblock header %}

{% block content %}
<div class="row"></div>
<div class="blog-sec">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"> Course </legend>
            
            <div class="row">
                <div class="row">
                    <img class="blog-pic" src="{{ form.instance.module_image.url }}">
                </div>
                {{form.module_image|as_crispy_field}}
            </div>
            <div class="row">
                {{form.module_name|as_crispy_field}}
            </div>
            <div class="row">
                {{form.Description|as_crispy_field}}
            </div>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Update</button>
        </div>
    </form>
</div>
{% endblock content %}