{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
    <script src="https://use.typekit.net/hoy3lrg.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<link rel="stylesheet" href="{% static 'css/style.css '%}">
	<script src="{% static 'js/style.js' %}"></script>
	</head>
	<body>
		<div id="frame">
		  <div class="content">
			<div class="contact-profile">
			  <img src="{{user.profile.image.url}}" alt="" />
			  <p>{{ username }}</p>
			</div>
			<div class="messages">
			  <ul id="chat-log">
				
			  </ul>
			</div>
			<div class="message-input">
			  <div class="wrap">
			  <input id="chat-message-input" type="text" placeholder="Write your message..." />
			  <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
			  <button id="chat-message-submit" class="submit">
				<i class="fa fa-paper-plane" aria-hidden="true"></i>
			  </button>
			  </div>
			</div>
		  </div>
		</div>
	  
	  <!-- <script src="{% static 'main.js' %}"></script> -->
	  <script src="{% static 'js/reconnecting-websocket.js' %}"></script>
	  {{ room_name|json_script:"room-name" }} 
	  {{ username|json_script:"user-name" }} 
	  <script>
		  console.log("inside tatti");
		  var roomName = JSON.parse(document.getElementById('room-name').textContent);
		  var username = JSON.parse(document.getElementById('user-name').textContent);
		  var chatSocket = new ReconnectingWebSocket(
			  'ws://' + window.location.host +
			  '/ws/chat/' + roomName + '/');
	  
		  chatSocket.onopen = function(e) {
			fetchMessages();
		  }
	  
		  chatSocket.onmessage = function(e) {
			  var data = JSON.parse(e.data);
			  if (data['command'] === 'messages') {
				for (let i=0; i<data['messages'].length; i++) {
				  createMessage(data['messages'][i]);
				}
			  } else if (data['command'] === 'new_message'){
				createMessage(data['message']);
			  }
		  };
	  
		  chatSocket.onclose = function(e) {
			  console.error('Chat socket closed unexpectedly');
		  };
	  
		  document.querySelector('#chat-message-input').onkeyup = function(e) {
			  if (e.keyCode === 13) {  // enter, return
				  document.querySelector('#chat-message-submit').click();
			  }
		  };
	  
		  document.getElementById('chat-message-submit').onclick = function(e) {
			console.log('message send try')  
			var messageInputDom = document.getElementById('chat-message-input');
			  var message = messageInputDom.value;
			  chatSocket.send(JSON.stringify({
				  'command': 'new_message',
				  'message': message,
				  'from': username
			  }));
	  
			  messageInputDom.value = '';
		  };
	  
		  function fetchMessages() {
			chatSocket.send(JSON.stringify({'command': 'fetch_messages' }));
		  }
	  
		  function createMessage(data) {
			var author = data['author'];
			var msgListTag = document.createElement('li');
			var imgTag = document.createElement('img');
			var pTag = document.createElement('p');
			var utag = document.createElement('h6');
			pTag.textContent = data.content;
			utag.textContent = data.author;
			imgTag.src = '{{user.profile.image.url}}';
	  
			if (author === username) {
			  msgListTag.className = 'sent';
			} else {
			  msgListTag.className = 'replies';
			}
			msgListTag.appendChild(imgTag);
			msgListTag.appendChild(utag);
			msgListTag.appendChild(pTag);
			document.querySelector('#chat-log').appendChild(msgListTag);
		  }
	  
	  </script>
	  </body>
	  
	  </html>