header{
    background-color: rgb(36, 156, 156);
    color: #fff;
    padding: 10px;
}

.enroll_content{
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding-top: 4%;
  }

  .date-time-container{
      padding-left:2%;
      top:50%;
  }
  
  .lower-text{
      position: relative;
      padding-top: 2;

  }

  .lower-division{
      padding-top: 2%;
      padding-left: 2%;
  }
