body{
    background-color: #61a0ff;
}
section .content a,
section .content input{
    background-color: #0D19A3;
}
section .content h2{
    color: #fff;
}
.navbar{
    background-color: #0dc987 !important;
}
.container-style{
    background-color: #F4E4C1 !important;  
}
.sidebar{
    background-color: #E4C580;
}

