{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
    <div class="col-12 col-md-10 container-style">
        <div class="blog-sec">
            <div class="content-section">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4"> Delete Event</legend>
                        <h2> Are you sure to delete the Event </h2>

                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-danger" type="submit">Delete</button>
                        <a class="btn btn-outline-secondary" href="{% url 'event-list' %}">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}